## Exercise 2 - Solution

In [4]:
import random
random.random()
import numpy

In [7]:
?random.random

In [8]:
# Concatenate two strings
'foo' + "bar"

'foobar'

In [16]:
# Concatenate a string and a number
'foo:' + str(2.5)

'foo:2.5'

In [5]:
# Concatenate two lists
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [17]:
# Add two new elements to a list
mylist = [1,2,3]
mylist.extend ([4,5])
mylist

[1, 2, 3, 4, 5]

In [18]:
# Remove the second element from the list
mylist.pop(1)
mylist

[1, 3, 4, 5]

In [19]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4], 'c' : 'a third value'}
d1['b'] = 'another value' 
d1

{'a': 'some value', 'b': 'another value', 'c': 'a third value'}

In [23]:
# get all keys
list(d1.keys())

['a', 'b', 'c']

In [21]:
# get all values
list(d1.values())

['some value', [1, 2, 3, 4], 'another value']