## Exercise 4 - Solution

In [2]:
import numpy as np
import pandas as pd

In [10]:
# Read a CSV file into a Pandas DataFrame
PATH='data/rossmann'
store_df = pd.read_csv(f'{PATH}/store.csv')
sales_df = pd.read_csv(f'{PATH}/sales.csv', dtype={'StateHoliday':np.object})
#sales_df = pd.read_csv(f'{PATH}/sales.csv')

In [11]:
# Print ten first/last/random stores
store_df.head(n=10)

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
5,6,a,a,310.0,12.0,2013.0,0,NaN,NaN,NaN
6,7,a,c,24000.0,4.0,2013.0,0,NaN,NaN,NaN
7,8,a,a,7520.0,10.0,2014.0,0,NaN,NaN,NaN
8,9,a,c,2030.0,8.0,2000.0,0,NaN,NaN,NaN
9,10,a,a,3160.0,9.0,2009.0,0,NaN,NaN,NaN

In [8]:
# Print ten first/last/random sales
sales_df.head(n=10)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
5,6,5,2015-07-31,5651,589,1,1,0,1
6,7,5,2015-07-31,15344,1414,1,1,0,1
7,8,5,2015-07-31,8492,833,1,1,0,1
8,9,5,2015-07-31,8565,687,1,1,0,1
9,10,5,2015-07-31,7185,681,1,1,0,1

In [9]:
# Show data types of the dataframe columns.
store_df.dtypes

Store                          int64
StoreType                     object
Assortment                    object
CompetitionDistance          float64
CompetitionOpenSinceMonth    float64
CompetitionOpenSinceYear     float64
Promo2                         int64
Promo2SinceWeek              float64
Promo2SinceYear              float64
PromoInterval                 object
dtype: object

In [10]:
# Show data types of the dataframe columns.
sales_df.dtypes

Store             int64
DayOfWeek         int64
Date             object
Sales             int64
Customers         int64
Open              int64
Promo             int64
StateHoliday     object
SchoolHoliday     int64
dtype: object

In [11]:
# Determine number of rows and columns
store_df.shape

(1115, 10)

In [12]:
# Determine number of rows and columns
sales_df.shape

(1017209, 9)

In [13]:
# Determine number of null and/or non-null columns
store_df.count()

Store                        1115
StoreType                    1115
Assortment                   1115
CompetitionDistance          1112
CompetitionOpenSinceMonth     761
CompetitionOpenSinceYear      761
Promo2                       1115
Promo2SinceWeek               571
Promo2SinceYear               571
PromoInterval                 571
dtype: int64

In [8]:
# Determine number of null and/or non-null columns
sales_df.count()

Store            1017209
DayOfWeek        1017209
Date             1017209
Sales            1017209
Customers        1017209
Open             1017209
Promo            1017209
StateHoliday     1017209
SchoolHoliday    1017209
dtype: int64

In [13]:
# Write data to a JSON file, as an array of store records
store_df.to_json(f'{PATH}/store.json', orient='records')
sales_df.to_json(f'{PATH}/sales.json', orient='columns')

In [14]:
# Write data to SQLite database, using SQLAlchemy (preferred)
from sqlalchemy import create_engine
con = create_engine(f'sqlite:///{PATH}/rossmann.db') 
store_df.to_sql(name='stores', con=con, if_exists='replace')
sales_df.to_sql(name='sales', con=con, if_exists='replace')

In [ ]:
# Read data from SQLite database
pd.read_sql("SELECT Store,CompetitionDistance FROM stores", con=con).head()